<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Author
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                <p id="quote">" When in doubt go to the Library "</p>
                  <p id="quote1">-J.K. Rowling</p>
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src='../../assets/Images/{{singleAuthor.image}}' style="width:100px;height:100px" class="rounded-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>{{singleAuthor.name}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4><span class="label label-default">{{singleAuthor.genre}}</span></h4><h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">{{singleAuthor.nationality}} • Notable Works: {{singleAuthor.works}}</small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
              <div class="d-grid gap-2 justify-content-md-end butt col-md-11 col-sm-11 butt">
                <button class="btn btn-primary btn-sm" type="button"  *ngIf="_auth.getAdmin() && _auth.loggedIn()" routerLink="/updateAuthor">Edit</button>
                <button class="btn btn-danger btn-sm" type="button" *ngIf="_auth.loggedIn() && _auth.getAdmin()" (click)="deleteauthor()">Delete</button>
              </div>
            </div>
           
            <hr>
            
  
            <!--/stories-->
            
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
         <hr>
    </div>
  </div>
                                                  
                                                                                  
 